:root {
  --odbg-1: #242424;
  --odbg-2: #202020;
  /* --odbg-1: #202020;
  --odbg-2: #242424; */
}

* {
  background-color: var(--odbg-1);
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.input_df {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.input_incs_df {
  margin: 0px;
  padding: 0px;
}

.input_dsc_df {
  font-size: 11px;
  color: red;
  margin: 0;
}

.button_df {
  background-color: red;
}

.mg-0 {
  margin: 0;
  padding: 0;
}

.redtext {
  color: red;
}

.greentext {
  color: green;
}

.icon-button {
  background-color: var(--odbg-2);
  border: 0;
}

.icon-button:hover {
  background-color: var(--odbg-1);
  outline: 1px solid white;
}