#chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#chat-message-container {
    flex: 1 1 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#chat-control-container {
    min-height: 100px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--odbg-2);
    border-left: 2px solid var(--odbg-1);
    border-top: 2px solid var(--odbg-1);
}

.message-box {
    padding: 5px;
}

.message-box-login-text {
    color: red;
}

.message-box-meta-text {
    font-size: 12px;
}

#chat-control-input-container {
    background-color: transparent;
    flex-grow: 1;
    padding: 5px;
    margin: auto 0;
}

#chat-control-options-container {
    width: 400px;
    height: 100%;
    background-color: var(--odbg-2);
    border-left: 2px solid var(--odbg-1);
    border-right: 2px solid var(--odbg-1)
}